:root {
    --primer-color: #212529;
    --segundo-color: #707070;
    --blanco-light: #F8F9FA;
    --blanco: #FFF;
    --verde: #28a745;
}

.navbar {
    background-color: var(--verde);
}

#formulario_cupon {
    background-color: var(--verde);
}